:root {
  --white: #FFF;
  --isabelline: #ECECEC;
  --Light-gray: #D1D1D1;
  --smoky-black: #0C0910;
  --granite-gray: #646266;
  --quick-silver: #A6A5A8;
}

/* font-family: 'Old Standard TT', serif;
font-family: 'Raleway', sans-serif; 

$font-xxxl: 50px;
$font-xxl: 30px;
$font-xl: 20px;
$font-l: 18px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;
*/
header {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
}

.info {
  padding: 2rem;
}

.info h1 {
  font-family: 'Old Standard TT', serif;
  font-size: 50px;
}

.info p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  .description {
    padding: 2rem;
  }
  .description h1 {
    font-size: 30px;
  }
  .description p {
    font-size: 14px;
  }
}

.button {
  border: 1px solid var(--smoky-black);
  background-color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 0.25rem 1rem;
}

.button:hover {
  border: 1px solid var(--isabelline);
}

.button:focus {
  border: 1px solid var(--isabelline);
  color: var(--isabelline);
}

.header .navbar-brand {
  padding: 15px;
  color: var(--white);
  background-color: var(--smoky-black);
}

.hero {
  height: calc(80vh - 10px);
  background-image: url("/assets/img/imagen1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .img-hero {
  width: auto;
  height: auto;
}

@media screen and (max-width: 500px) {
  .hero {
    height: calc(45vh - 60px);
    background-position: top;
    background-size: cover;
  }
}

.contacto {
  background: var(--smoky-black);
  color: var(--white);
  position: relative;
}

.Newslatter {
  width: 85%;
}

.Newslatter input {
  border-radius: 0;
}

.Suscribir {
  background: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.Suscribir p {
  margin: 0;
  font-size: 20px;
  color: var(--smoky-black);
  padding: 0.5rem;
  writing-mode: vertical-lr;
  text-align: center;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
